<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.url }}/assets/images/favicon/terminal-57-195654.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/assets/images/favicon/terminal-114-195654.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/assets/images/favicon/terminal-72-195654.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/images/favicon/terminal-144-195654.png" />
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="{{ site.url }}/assets/images/favicon/terminal-64-195654.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/favicon/terminal-120-195654.png" />
<!-- <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/images/favicon/apple-touch-icon-76x76.png" /> -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/favicon/terminal-152-195654.png" />
<!-- <link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-196x196.png" sizes="196x196" /> -->
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/terminal-114-195654.png" sizes="114x114" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/terminal-32-195654.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/terminal-16-195654.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/terminal-120-195654.png" sizes="120x120" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="terminal-144-195654.png" />
<meta name="msapplication-square72x72logo" content="terminal-72-195654.png" />
<meta name="msapplication-square152x152logo" content="terminal-152-195654.png" />
<!-- <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" /> -->
<!-- <meta name="msapplication-square310x310logo" content="mstile-310x310.png" /> -->
